h1 {
    background-color: darkgreen;
    padding-left: 30px;
    text-decoration: underline;
    width: 300px;
    margin-left: 20px;
    height: 100px;
    background-image: url("Anime1.jpg");
}

.pera1 {
    background-color: aquamarine;
    padding-left: 30px;
    margin-left: 20px;
    ;
}

h3 {
    background-color: lightgreen;
    width: 260px;
    margin-left: 20px;
    padding-left: 30px;
}

.para2 {
    background-color: aquamarine;
    margin-left: 20px;
    padding-left: 30px;
}

h3 {
    background-color: lightgreen;
    margin-left: 20px;
    padding-left: 30px;
}

.para3 {
    padding-left: 30px;
    margin-left: 20px;
    background-color: rgb(188, 151, 157);
}