h1 {
    background-color: darkgreen;
    padding-left: 30px;
    text-decoration: underline;
    width: 300px;
    margin-left: 20px;
    height: 100px;
    background-image: url("Anime1.jpg");
}

.pera1 {
    background-color: aquamarine;
    padding-left: 30px;
    margin-left: 20px;
    ;
}

.sam {
    background-color: lightgreen;
    height: 200px;
    margin-left: 20px;
    padding-left: 30px;
    background-image: url(s-xx.jpg);
}

.para2 {
    background-color: aquamarine;
    margin-left: 20px;
    padding-left: 30px;
    border: 10px crimson;
}

.dea {
    background-color: lightgreen;
    width: 200px;
    margin-left: 20px;
    padding-left: 30px;
}

.death {
    color: white;
    background-color: lightgreen;
    height: 100px;
    margin-left: 20px;
    padding-left: 30px;
    background-image: url("deathnote.jpg");
}

.para3 {
    padding-left: 30px;
    margin-left: 20px;
    background-color: rgb(188, 151, 157);
}